@model convee_web01.Models.ClientInvoicesVM
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "About";
}
<style>
    @@media only screen and (max-width: 600px) {
        .smallscreennotshow {
            display: none
        }
    }
</style>


<h2>All @Model.Client[0].NAME's Invoices</h2>
<p>These are all the orders Engen Lusikisiki has made with riverside holdings</p>
@*@using (Html.BeginForm("searchInvoices", "Home"))
{
    <p class="form-inline">
        <input type="text" class="form-control" placeholder="Enter client name..." name="invString" />
        <input type="submit" class="btn btn-primary" value="Search Invoice" />
    </p>
}
<br />*@

<table class="table table-striped">
    <thead class="table bg-dark text-light">
        <tr>
            <th>Invoice NO.</th>
            <th>Date</th>
            <th class="smallscreennotshow">Price Class</th>
            <th>Total</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model.Invoices)
        {

            <tr>
                <td>@invoice.INVOICE_NUM</td>
                <td>@invoice.INVOICE_DATE</td>
                <td class="smallscreennotshow">@invoice.PRICES_USED</td>
                <td>@invoice.INVOICE_TOTAL</td>
                <td>@Html.ActionLink("Details", "Details", "Home", new { id = invoice.INVOICE_NUM }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>

Page @(Model.Invoices.PageCount < Model.Invoices.PageNumber ? 0 : Model.Invoices.PageNumber) of @Model.Invoices.PageCount
@Html.PagedListPager(Model.Invoices, page => Url.Action("Invoices", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))